<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Lens.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Lens.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Lens.Properties.Settings>
            <setting name="Height" serializeAs="String">
                <value>160</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="GridColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="GridSize" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="GridStyle" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="HideCursor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Magnification" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="NearestNeighbor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SpeedFactor" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="AutoClose" serializeAs="String">
                <value>True</value>
            </setting>
        </Lens.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Lens.Properties.Settings>
            <setting name="MaxMagnification" serializeAs="String">
                <value>16</value>
            </setting>
        </Lens.Properties.Settings>
    </applicationSettings>
</configuration>